.greeting {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @include less-than-tablets {
    background-image: url('../images/bg/mountain-baloon.jpg');
  }

  @include phones {
    padding-bottom: 120px;
  }
}