.triangles-greeting {
  position: relative;
  height: 120PX;
  margin-top: -120PX;

  @include phones {
    height: 50PX;
    margin-top: -50PX;
  }
}

.triangles-greeting__item {
  display: block;
  width: 50%;
  position: absolute;
  height: 100%;
  fill: #ffffff;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}
